.header {
  position: fixed;
  z-index: 10;
  animation-name: fade-in;
  animation-duration: 1s; }
  .header:hover {
    background-color: rgba(47, 47, 47, 0.33); }
  .header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; }
    .header nav ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0; }
      .header nav ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
        margin: 50px;
        padding-top: 10px; }
        .header nav ul li a:hover {
          color: #000; }
  .header .iconos-nav .perfil {
    position: absolute;
    top: 2rem;
    right: 5rem;
    color: #ffffff; }
    .header .iconos-nav .perfil:hover {
      color: #000; }
  .header .iconos-nav form {
    height: 90vh;
    overflow: scroll; }
    .header .iconos-nav form button a {
      color: #ffffff;
      text-decoration: none; }
  .header .iconos-nav .contactanos {
    position: absolute;
    top: 2rem;
    right: 7rem;
    color: #ffffff; }
    .header .iconos-nav .contactanos:hover {
      color: #000; }
  .header .iconos-nav h5 {
    text-align: center;
    padding: 10px; }

/* ---------Animacion Nav----------- */
@keyframes fade-in {
  0% {
    transform: translateY(-150px); }
  100% {
    transform: translateY(0); } }

.contenedor {
  background-color: #fff;
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: center; }
  .contenedor .carousel-inner .carousel-item .carousel-caption {
    display: flex !important;
    flex-direction: column;
    align-items: center; }
    .contenedor .carousel-inner .carousel-item .carousel-caption a {
      text-decoration: none;
      color: #fff; }
      .contenedor .carousel-inner .carousel-item .carousel-caption a h5 {
        background-color: rgba(0, 0, 0, 0.405);
        padding: 3px;
        width: 160px;
        border-radius: .3rem; }
        .contenedor .carousel-inner .carousel-item .carousel-caption a h5:hover {
          transform: scale(1.3);
          background-color: #fff;
          color: black;
          font-weight: 700; }

.carousel-armario {
  grid-column-start: span 3;
  grid-row-start: span 3; }
  .carousel-armario .carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

/* -------- FOOTER --------- */
footer {
  background-color: #fff;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .foot {
    text-align: center;
    font-family: serif; }
    footer .foot div h4 {
      font-size: 16px;
      font-weight: 600;
      margin: 0; }
    footer .foot .redes p {
      margin-bottom: 5px; }
    footer .foot .redes a {
      color: #000;
      padding: 5px; }

.fondo {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.2)), url(../imagenes/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .fondo h1 {
    background-color: rgba(0, 0, 0, 0.405);
    color: #fff;
    padding: 28px;
    border-radius: 1rem;
    font-family: serif;
    font-style: italic;
    font-weight: 500;
    font-size: 90px; }

main .h2 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }
  main .h2 h2 {
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    font-style: italic; }

.fondo-tienda {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.201), rgba(0, 0, 0, 0.207)), url(../imagenes/shopping.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.main-tienda .clases-tienda {
  justify-content: space-evenly;
  background-color: #ffffff;
  padding-top: 30px; }
  .main-tienda .clases-tienda button {
    font-size: 18px;
    font-weight: 500;
    margin: 5px !important;
    padding: 2px 10px; }
    .main-tienda .clases-tienda button:hover {
      transform: scale(1.3);
      background-color: #ffffff7a; }

.main-tienda div h1 {
  font-size: 80px;
  font-family: serif;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  margin: 80px;
  color: black; }

.contenedor-tienda {
  width: 100%;
  justify-content: space-evenly;
  border: 0;
  padding-top: 100px; }
  .contenedor-tienda .box-img {
    width: 350px;
    height: 500px;
    margin: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.55); }
    .contenedor-tienda .box-img:hover img {
      transform: scale(1.1);
      transition: .8s ease; }
    .contenedor-tienda .box-img img {
      width: 100%;
      height: 100%; }
    .contenedor-tienda .box-img .box-transparent {
      width: 100%;
      height: 100%;
      color: white;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.359);
      top: 0;
      left: 0;
      opacity: 0; }
      .contenedor-tienda .box-img .box-transparent:hover {
        opacity: 1; }
      .contenedor-tienda .box-img .box-transparent:hover .caption-img {
        opacity: 1; }
      .contenedor-tienda .box-img .box-transparent .caption-img {
        position: absolute;
        bottom: 100px;
        left: 40px;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.5s ease; }
        .contenedor-tienda .box-img .box-transparent .caption-img p {
          font-size: 18px; }
        .contenedor-tienda .box-img .box-transparent .caption-img button {
          border: none;
          border-radius: 5px; }
          .contenedor-tienda .box-img .box-transparent .caption-img button a {
            color: #000000;
            text-decoration: none; }
          .contenedor-tienda .box-img .box-transparent .caption-img button:hover {
            border: #ffffff solid 1px;
            background-color: rgba(68, 68, 68, 0.676);
            transform: scale(1.2); }
            .contenedor-tienda .box-img .box-transparent .caption-img button:hover a {
              color: #ffffff; }

.main-tienda .barra-pag div ul {
  justify-content: center !important; }
  .main-tienda .barra-pag div ul li a {
    color: #000000;
    font-weight: 500; }

.main-armario .fondo-armario {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.206), rgba(0, 0, 0, 0.201)), url(../imagenes/fondoArmario.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-armario .fondo-armario h1 {
    background-color: rgba(0, 0, 0, 0.405);
    color: #fff;
    padding: 28px;
    border-radius: 1rem;
    font-family: serif;
    font-style: italic;
    font-weight: 500;
    font-size: 90px; }

.main-armario .clases-tienda {
  justify-content: space-evenly;
  background-color: #ffffff;
  padding-top: 70px; }
  .main-armario .clases-tienda button {
    font-size: 18px;
    font-weight: 500;
    margin: 5px !important;
    padding: 2px 10px; }
    .main-armario .clases-tienda button:hover {
      transform: scale(1.3);
      background-color: #ffffff7a; }

.main-armario .flips {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 100px 150px 50px 150px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 250px;
  gap: 10px; }
  .main-armario .flips .card-flip {
    perspective: 800;
    -webkit-perspective: 800; }
    .main-armario .flips .card-flip:hover .cards {
      transform: rotateY(180deg); }
    .main-armario .flips .card-flip .cards {
      width: 100%;
      height: 100%;
      background: #c0afaf;
      position: relative;
      transform-style: preserve-3d;
      transition: .8s ease;
      box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.55);
      -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 17px 7px 15px 0px rgba(0, 0, 0, 0.55); }
      .main-armario .flips .card-flip .cards .flip-front {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden; }
        .main-armario .flips .card-flip .cards .flip-front img {
          width: 100%;
          height: 100%; }
      .main-armario .flips .card-flip .cards .flip-back {
        position: absolute;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        padding: 10px 8px; }
        .main-armario .flips .card-flip .cards .flip-back a {
          text-decoration: none;
          color: #ffffff;
          border: solid black 1.5px;
          border-radius: 10px;
          padding: 2px 7px; }
          .main-armario .flips .card-flip .cards .flip-back a:hover {
            background-color: #5a5a5a;
            color: #ffffff;
            transform: scale(1.3);
            border: #ffffff; }

.main-perfil {
  background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.204)), url(../imagenes/fondo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  align-items: center; }
  .main-perfil .div-inicio-sesion {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    font-size: 23px;
    width: 500; }
    .main-perfil .div-inicio-sesion .inicio-sesion {
      background-color: rgba(0, 0, 0, 0.405);
      color: #fff;
      margin-bottom: 100px;
      padding: 30px;
      border-radius: 1rem; }
    .main-perfil .div-inicio-sesion .registrarse {
      background-color: rgba(0, 0, 0, 0.405);
      color: #fff;
      padding: 30px;
      border-radius: 1rem; }
  .main-perfil .contactanos {
    background-color: rgba(0, 0, 0, 0.405);
    border-radius: 1rem;
    color: #fff;
    font-size: 21px;
    padding: 2.5rem 5rem 2.5rem 5rem;
    margin: 50px;
    text-align: center; }

.main-nosotros .nosotros {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.206), rgba(0, 0, 0, 0.201)), url(../imagenes/fondoNosotros.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: end; }
  .main-nosotros .nosotros .nosotros-h1 {
    padding-bottom: 20px;
    display: flex;
    justify-content: center; }
    .main-nosotros .nosotros .nosotros-h1 h1 {
      width: 300px;
      text-align: center;
      color: white;
      font-family: serif;
      font-style: italic;
      font-size: 40px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10px; }
  .main-nosotros .nosotros .direccion {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px; }
    .main-nosotros .nosotros .direccion div {
      width: 250px;
      height: 250px;
      text-align: center;
      border-radius: 15px;
      color: white; }
      .main-nosotros .nosotros .direccion div img {
        height: 100%;
        width: 100%;
        padding-bottom: 10px;
        border-radius: 50%; }

/* ----------------------REGISTRARSE | main---------------------- */
.div-main-registro {
  height: 100vh;
  background-color: #fff;
  text-align: center;
  padding-top: 220px;
  font-size: 22px; }

/* ====================MEDIAS QUERIES=================== */
@media screen and (max-width: 1240px) {
  main .h2 h2 {
    font-size: 40px; }
  .main-armario .flips {
    padding: 50px;
    padding-bottom: 20px;
    grid-template-columns: repeat(6, 1fr); }
  .img9,
  .img10,
  .img11,
  .img12,
  .img19,
  .img20,
  .img21,
  .img22,
  .img23,
  .img24,
  .img25,
  .img26,
  .img27,
  .img28,
  .img29,
  .img30 {
    display: none; }
  .carousel-armario {
    grid-column-start: span 2;
    grid-row-start: span 2; } }

@media screen and (max-width: 1023px) {
  main .h2 h2 {
    font-size: 30px; }
  .fondo h1 {
    font-size: 60px; }
  .main-tienda div h1 {
    font-size: 60px; }
  .main-armario .fondo-armario h1 {
    font-size: 60px; }
  .main-armario .flips {
    height: 160vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .main-armario .carousel-armario,
  .main-armario .img13,
  .main-armario .img14,
  .main-armario .img15,
  .main-armario .img16,
  .main-armario .inicio-sesion,
  .main-armario .registrarse {
    display: none; } }

@media screen and (max-width: 768px) {
  main .h2 {
    display: none; }
  .header nav ul li a {
    font-size: 15px;
    margin: 30px; }
  .header .iconos-nav .perfil {
    right: 2rem; }
  .header .iconos-nav .contactanos {
    right: 4rem; }
  .main-perfil {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    align-items: center; }
  main #contactanos {
    padding-top: 100px; }
  .main-armario .flips {
    height: 160vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); }
    .main-armario .flips .img36 {
      display: none; } }

@media screen and (max-width: 669px) {
  .fondo h1 {
    font-size: 50px;
    padding: 25px; }
  .main-armario .fondo-armario h1 {
    font-size: 50px;
    padding: 25px; }
  .main-armario .flips {
    padding: 2 25px; }
  .main-perfil {
    justify-content: center;
    align-content: center; }
    .main-perfil .contactanos {
      font-size: 21px;
      padding: 1.5rem 2.5rem 1.5rem 2.5rem !important;
      margin: 0px;
      text-align: center; }
  footer {
    height: 350px; } }

@media screen and (max-width: 500px) {
  .header:hover {
    background-color: rgba(0, 0, 0, 0); }
  .header nav ul {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .fondo h1 {
    font-size: 35px; }
  .main-armario .fondo-armario h1 {
    font-size: 40px;
    padding: 25px; }
  .main-armario .flips {
    height: 160vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); }
    .main-armario .flips .img1, .main-armario .flips .img2, .main-armario .flips .img3, .main-armario .flips .img4, .main-armario .flips .img6 {
      display: none; } }

@media screen and (max-width: 375px) {
  .main-armario .fondo-armario h1 {
    font-size: 30px; } }
