.main-armario {
    .fondo-armario {
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.206), rgba(0, 0, 0, 0.201)), url(../imagenes/fondoArmario.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            background-color: rgba(0, 0, 0, 0.405);
            color: white;
            padding: 33px;
            border-radius: 1rem;
            font-size: 80px;
            font-family: serif;
            font-style: italic;
            font-weight: 500;
        }
    }

    .clases-tienda {
        justify-content: space-evenly;
        background-color: #ffffff;
        padding-top: 70px;

        button {
            font-size: 18px;
            font-weight: 500;
            margin: 5px !important;
            padding: 2px 10px;

            &:hover {
                transform: scale(1.3);
                background-color: #ffffff7a;
            }
        }
    }

    .flips {
        background-color: $color-Ligth;
        width: 100%;
        height: 100%;
        padding: 100px 150px 50px 150px;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: 250px;
        gap: 10px;
    
        .card-flip {
            perspective: 800;
            -webkit-perspective: 800;
            &:hover .cards {
                transform: rotateY(180deg);
            }
    
            .cards {
                width: 100%;
                height: 100%;
                background: #c0afaf;
                position: relative;
                transform-style: preserve-3d;
                transition: .8s ease;
                box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.55);
                -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.55);
                -moz-box-shadow: 17px 7px 15px 0px rgba(0, 0, 0, 0.55);
    
                .flip-front {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .flip-back {
                    position: absolute;
                    transform: rotateY(180deg);
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #ffffff;
                    padding: 10px 8px;
                    a{
                        text-decoration: none;
                        color: #ffffff;
                        border: solid black 1.5px;
                        border-radius: 10px;
                        padding: 2px 7px;
                        &:hover{
                            background-color: rgb(90, 90, 90);
                            color: #ffffff;
                            transform: scale(1.3);
                            border: #ffffff;
                        }
                    }
                }
            }
        }
    }
}


