.header {
    position: fixed;
    z-index: 10;
    animation-name: fade-in;
    animation-duration: 1s;
    &:hover {
        background-color: rgba(47, 47, 47, 0.330);
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            li {
                a {
                    text-decoration: none;
                    color: $color-Ligth;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 18px;
                    margin: 50px;
                    padding-top: $spacing-p1;
                    &:hover {
                        color: $color-dark;
                    }
                }
            }
        }
    }

    .iconos-nav{

        .perfil {
            position: absolute;
            top: 2rem;
            right: 5rem;
            color: #ffffff;
            &:hover{
                color: $color-dark;
            }
        }
        form {
            height: 90vh;
            overflow: scroll;
            button a {
                color: #ffffff;
                text-decoration: none;
            }
        }
        .contactanos {
            position: absolute;
            top: 2rem;
            right: 7rem;
            color: #ffffff;
            &:hover{
                color: $color-dark;
            }
        }
        h5 {
            text-align: center;
            padding: 10px;
        }
    }

}

/* ---------Animacion Nav----------- */

@keyframes fade-in {
    0%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0);
    }
}






