.main-nosotros{
    .nosotros {
        height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.206), rgba(0, 0, 0, 0.201)), url(../imagenes/fondoNosotros.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        flex-direction: column;
        justify-content: end;
        .nosotros-h1{
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
            h1{
                width: 300px;
                text-align: center;
                color: white;
                font-family: serif;
                font-style: italic;
                font-size: 40px;
                background-color: rgba(0, 0, 0, 0.400);
                border-radius: 10px;
            }
        }
        
        .direccion{
            display: flex;
            justify-content: space-around;
            margin-bottom: 100px;
            div{
                width: 250px;
                height: 250px;
                text-align: center;
                border-radius: 15px;
                color: white;
                img{
                    height: 100%;
                    width: 100%;
                    padding-bottom: 10px;
                    border-radius: 50%;
                }
            }
        }
    }
}
