//------------Colors
$color-dark: #000;
$color-Ligth: #fff;



//------------Fonts

//font sizes
$fs-1: 10px;
$fs-2: 20px;
$fs-3: 30px;
$fs-4: 40px;
$fs-5: 50px;
$fs-6: 60px;
$fs-7: 70px;
$fs-8: 80px;
$fs-9: 90px;

//font weight
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;




//-------------Spacings | Paddings

$spacing-p1: 10px;
$spacing-p2: 20px;
$spacing-p3: 30px;
$spacing-p4: 40px;
$spacing-p5: 50px;
$spacing-p6: 60px;
$spacing-p7: 70px;
$spacing-p8: 80px;
$spacing-p9: 90px;
