@import "_variables";
@import "_nav";
@import "_carousel";
@import "_footer";
@import "_inicio";
@import "_tienda";
@import "_armario";
@import "_perfil";
@import "_nosotros";


/* ====================MEDIAS QUERIES=================== */


@media screen and (max-width:1240px) {
    main {
        .h2{
            h2 {
                font-size: $fs-4;
            }
        }
    }

    .main-armario {
        .flips {
            padding: 50px;
            padding-bottom: $spacing-p2;
            grid-template-columns: repeat(6, 1fr);
        }
    } 

    .img9,
    .img10,
    .img11,
    .img12,
    .img19,
    .img20,
    .img21,
    .img22,
    .img23,
    .img24,
    .img25,
    .img26,
    .img27,
    .img28,
    .img29,
    .img30 {
        display: none;
    }

    .carousel-armario {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
}

@media screen and (max-width:1023px) {
    main{
        .h2{
            h2 {
                font-size: $fs-3;
            }
        }
    }  

    .fondo{
        h1 {
            font-size: $fs-6;
        }
    } 

    .main-tienda {
        div{
            h1 {
                font-size: $fs-6;
            }
        }
    }

    .main-armario {
        .fondo-armario {
            h1 {
                font-size: $fs-6;
            }
        }

        .flips {
            height: 160vh;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        .carousel-armario,
        .img13,
        .img14,
        .img15,
        .img16,
        .inicio-sesion,
        .registrarse {
            display: none;
        }
    }
}

@media screen and (max-width:768px) {
    main {
            .h2 {
                display: none;
            }
    }

    .header {
            nav {
                ul {

                    li {
                        a {
                            font-size: $fs-2 - 5;
                            margin: 30px;
                        }
                    }
                }
            }

            .iconos-nav {
                .perfil {
                    right: 2rem;
                }

                .contactanos {
                    right: 4rem;
                }
            }
    }

    .main-perfil {
            display: flex;
            flex-direction: column;
            padding-top: 8rem;
            align-items: center;
    }

    main #contactanos {
            padding-top: 100px;
    }

    .main-armario {

        .flips {
            height: 160vh;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);

            .img36 {
                display: none;
            }
        }
    }
}

@media screen and (max-width:669px) {
    .fondo {
        h1 {
            font-size: $fs-5;
            padding: $spacing-m3 - 5;
        }
    }

    .main-armario {
            .fondo-armario {
                h1 {
                    font-size: $fs-5;
                    padding: $spacing-p3 - 5;
                }
            }
            .flips {
                padding: 2$spacing-p3 - 5;
            }
    }

    .main-perfil {
            justify-content: center;
            align-content: center;

            .contactanos {
                font-size: $fs-2 + 1;
                padding: 1.5rem 2.5rem 1.5rem 2.5rem !important;
                margin: 0px;
                text-align: center;
            }
    }

    footer {
            height: 350px;
    }
}

@media screen and (max-width:500px) {
    .header {
            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }

            nav {
                ul {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
            }
    }

    .fondo h1 {
            font-size: $fs-3 + 5;
    }

    .main-armario {
            .fondo-armario {
                h1 {
                    font-size: $fs-4;
                    padding: $spacing-p2 + 5;
                }
            }
            .flips {
                height: 160vh;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
    
                .img1, .img2, .img3, .img4, .img6 {
                    display: none;
                }
            }
    }
}

@media screen and (max-width:375px) {
    .main-armario {
        .fondo-armario {
            h1{
                font-size: $fs-3;
            }
        }
    }
}



/* ----------------------REGISTRARSE---------------------- */

//Mixin
@mixin tamanos ($alto, $ancho) {
    height: $alto;
    width: $ancho;
}


//Extend

.basicos{
    @include tamanos(100%, 100%);

    .main-registro {
        @extend .basicos;

        background: linear-gradient(rgba(0, 0, 0, 0.201),rgba(0, 0, 0, 0.201)) , url(../imagenes/fondoNosotros.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
        .div-main-registro {
            @include tamanos(100vh, 100%);
            text-align: center;
            padding-top: 220px;
            font-size: 22px;
            label {
                background-color: rgba(0, 0, 0, 0.419);
                color: #fff;
                width: 300px;
                text-align: start;
            }
            input {
                @extend label
            }
        }
    }
}


